/* formats how the navigation bar looks */
nav {
  display: flex;
  width: 100%;
  background: #2818a100;
  color: #FFFFFF;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  z-index: 4;
}

.website-name {
  font-family: 'Bungee', sans-serif;
  font-size: 1.25em;
}

.nav-left {
  margin-left: 0.5rem;
  display: flex;
}

.nav-right {
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
}

.nav-right-top {
  font-size: 0.85rem;
  margin-bottom: -.75rem;
  margin-top: -1rem;
}

@keyframes float {
	0% {
		transform: translatey(-2.5px);
	}
	50% {
		transform: translatey(2.5px);
	}
	100% {
		transform: translatey(-2.5px);
	}
}

.nav-right-bottom {
  display: flex;
  justify-content: center;
  color: rgb(252, 171, 21);
  transform: translatey(0px);
	animation: float 2s ease-in-out infinite;
}

.pointer {
  cursor: pointer;
}