nav {
  display: flex;
  background: #2818a100;
  color: #FFFFFF;
  height: 90px; /* should be 120px for assignment */
  padding-left: 1.5em;
  padding-right: 1.5em;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
 }

 .nav-left {
  display: flex;
 }

 .nav-right {
  display: flex;
  flex-direction: column;
 }

 .nav-right-top {
  margin-bottom: -1em;
  margin-top: -1em;
  font-size: 0.9em;
 }

 .nav-right-bottom {
  display: flex;
  justify-content: center;
  color: rgb(252, 171, 21);
 }

 .website-name {
  font-family: 'Bungee', sans-serif;
  font-size: 1.5em;
 }